<h1>Hi {{name}}!</h1>
<p>Thank you for registering with PortaPro.</p>
<p>Please confirm your email with the following token: <b>{{token}}</b></p>
<p>If you didn't register, please ignore this email.</p>