<h1>Hello {{name}}!</h1>
<p>We received a request to reset your password.</p>
<p>If you requested this password reset, please reset your password with this token: <b>{{token}}</b></p>
<p>If you didn't request this, please ignore this email.</p>
